// Lead Form
.lead-form {
  background: $white;
  padding: rem(33px);
  border-radius: rem(24px);
  box-shadow: 0 rem(24px) rem(48px) rgba(0, 0, 0, 0.12);
  //   min-width: rem(515px);

  h3 {
    font-size: rem(24px);
    margin-bottom: rem(8px);
    color: #000;
    font-weight: 700;
    line-height: 1.4;
    min-width: rem(420px);
  }

  .form-subtext {
    font-size: rem(18px);
    color: #19191a;
    font-weight: 400;
    display: block;
    margin-top: rem(10px);
    margin-bottom: rem(20px);
  }

  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(12px);
  }

  .form-group {
    margin-bottom: rem(20px);
    position: relative;
    width: 100%;

    &.w50{
      width: calc(50% - rem(12px));
    }

    label {
      display: block;
      font-size: rem(14px);
      color: #364153;
      margin-bottom: rem(8px);
      font-weight: 400;
    }

    input {
      width: 100%;
      padding: rem(14px) rem(16px);
      border: 1px solid #ddd;
      border-radius: rem(8px);
      font-size: rem(15px);
      background-color: transparent;
      transition: all 0.3s ease;
      color: rgba(10, 10, 10, 1);

      &:focus {
        outline: none;
        border-color: #5e35b1;
        background-color: #fff;
        box-shadow: 0 0 0 3px rgba(94, 53, 177, 0.1);
      }

      &::placeholder {
        color: rgba(10, 10, 10, 0.5);
      }
    }

    input[type="date"]::-webkit-datetime-edit-text,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-year-field {
      color: rgba(10, 10, 10, 0.5);
    }

    input[type="date"] {
      color: rgba(10, 10, 10, 1);
      width: 100%;
    }

    .error-msg {
      font-size: 0.6rem;
      color: red;
      position: absolute;
      left: 0;
      bottom: rem(-15px);
    }
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .lead-form {
    padding: mrem(26px) mrem(24px);
    border-radius: mrem(20px);
    box-shadow: 0px 20.3px 40.59px -9.74px #00000040;

    h3 {
      font-size: mrem(16px);
      margin-bottom: mrem(8px);
      min-width: unset;
    }
    .form-subtext {
      font-size: mrem(14px);
      margin-top: mrem(10px);
      margin-bottom: mrem(20px);
    }

    .form-group {
      margin-bottom: mrem(16px);

      label {
        font-size: mrem(12px);
        margin-bottom: mrem(8px);
      }
      input {
        padding: mrem(12px) mrem(12px);

        border-radius: mrem(8px);
        font-size: mrem(14px);
      }

      input[type="date"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        border: 1px solid #ddd;
        border-radius: mrem(8px);
        padding: mrem(12px) mrem(12px);
        font-size: mrem(14px);
        width: 100%;
        box-sizing: border-box;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }
    }
  }
}
