.problem-section {
  position: relative;
  overflow: hidden;
  padding: rem(100px) 0;

  .zoom-decor {
    position: absolute;
    top: rem(90px);
    left: rem(150px);
    z-index: 1;
    transform-origin: left center;
    animation: zoomInOut 4s ease-in-out infinite;
    pointer-events: none;
    height: rem(200px);
    width: rem(250px);
  }

  .text-highlight {
    background: linear-gradient(90deg, #2960ea 0%, #d3287c 78.1%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700 !important;
  }
   .modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-overlay.is-active {
  display: flex;
}

.modal-content {
  background: linear-gradient(135deg, #e8eaf6 0%, #f3e5f5 50%, #e1f5fe 100%);
  max-width: rem(650px);
  width: 95%;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.popup-form{
  max-width: rem(700px);

  h3{
    text-align: center;
  }
}

}

/* zoom animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* Title + paragraph inside problem section */
.section-header {
  margin-bottom: rem(46px);

  h2 {
    font-size: rem(58px);
    margin-bottom: rem(10px);
    font-weight: 700;
    line-height: 130%;
  }

  p {
    color: #000;
    max-width: 1210px;
    margin-inline: auto;
    font-weight: 400;
    font-size: rem(20px);
    line-height: 150%;
  }
}

/* Features grid (Problem section cards) */
.features-grid {
  display: flex;
  justify-content: center;
  gap: rem(20px);
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: rem(30px);

  .feature-card {
    background: var(--white);
    padding: rem(50px) rem(33px);
    border-radius: rem(20px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    border: 1px solid #01a1de80;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;

    .feature-icon {
      margin-bottom: rem(10px);

      img {
        width: rem(81px);
        height: rem(81px);
      }
    }

    p {
      font-size: rem(20px);
      font-weight: 700;
      line-height: 140%;
    }

    &:hover {
      background: #01a1de1a;
      border: 1px solid #01a1de1a;
    }
  }
}

.features-subtext {
  margin-bottom: rem(50px);
  text-align: center;
  font-weight: 400;
  font-size: rem(20px);
  line-height: 1;
}

@media (max-width: 767px) {
  .problem-section {
    padding: mrem(50px) 0;

    .zoom-decor {
      top: mrem(32px);
      left: 6%;
      height: mrem(50px);
      width: auto;
    }
  }

  .section-header {
    margin-bottom: mrem(20px);

    h2 {
      font-size: mrem(24px);
      margin-bottom: mrem(20px);
      line-height: 120%;
    }

    p {
      font-size: mrem(16px);
      line-height: 150%;
    }
  }

  /* Features grid (Problem section cards) */
  .features-grid {
    justify-content: center;
    gap: mrem(7px);

    align-items: stretch;
    margin-bottom: mrem(20px);

    .feature-card {
      padding: mrem(26px) mrem(8px);
      border-radius: mrem(20px);
      box-shadow: unset;
      min-width: mrem(140px);
      max-width: 100%;
      &:last-child {
        max-width: 50%;
      }
      .feature-icon {
        margin-bottom: mrem(15px);

        img {
          width: mrem(50px);
          height: mrem(50px);
        }
      }

      p {
        font-size: mrem(16px);
      }
    }
  }

  .features-subtext {
    margin-bottom: mrem(20px);
    font-size: mrem(12px);
    font-weight: 600;
  }
  .mt-4 {
    margin-top: 0;
  }
}
