.cta-footer {
  .text-center {
    background: linear-gradient(90deg, #2960ea 0%, #d3287c 100%);
    padding-block: rem(100px);
    border-radius: rem(20px);
    position: relative;

    .elements {
      position: absolute;
      height: rem(200px);
      width: auto;
      right: rem(55px);
      top: rem(40px);
      animation: zoomInOut 4s ease-in-out infinite;
    }

    h2 {
      font-weight: 700;
      font-size: rem(58px);
      line-height: 130%;
      text-align: center;
      color: #fff;
      margin-bottom: rem(30px);
    }
    .btn {
      background-color: #fff;
      margin-bottom: rem(40px);
      border: 1px solid #fff;
      padding-block: rem(16px);
      &:hover {
        border: 1px solid#fff;
        background-color: transparent;
        color: #fff;
      }
    }

    p {
      font-weight: 400;
      font-size: rem(20px);
      line-height: 150%;
      text-align: center;
      color: #fff;
    }
  }
}

// Footer
.footer {
  padding: rem(50px) 0;
  background-color: #fdfeff;

  .disclaimer {
    color: #19191a;
    font-weight: 400;
    font-size: rem(14px);
    line-height: 150%;
    text-align: center;
    margin-bottom: rem(45px);
  }
  .coypright {
    color: #19191a;
    font-weight: 400;
    font-size: rem(18px);

    a {
      color: #19191a;
      font-weight: 400;
      font-size: rem(18px);
      line-height: 150%;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .cta-footer {
    padding-inline: mrem(16px);
    .text-center {
      padding-block: mrem(50px);
      border-radius: mrem(20px);

      width: 100%;
      padding-inline: mrem(16px);

      .elements {
        position: absolute;
        height: mrem(84px);

        right: mrem(100px);
        top: unset;
        bottom: mrem(20px);
      }

      h2 {
        font-size: mrem(24px);

        margin-bottom: mrem(20px);
      }
      .btn {
        margin-bottom: mrem(30px);
      }

      p {
        font-size: mrem(16px);
      }
    }
  }

  // Footer
  .footer {
    padding: mrem(20px) 0;
    padding-bottom: mrem(40px);
    .disclaimer {
      font-size: mrem(10px);

      margin-bottom: mrem(10px);
    }
    .coypright {
      font-size: mrem(14px);
      a {
        font-size: mrem(14px);
      }
    }
  }
}

.accidental-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: linear-gradient(180deg, #d1eef8 -37.75%, #ffffff 100%);
  display: none;

  &.show {
    display: flex;
  }

  .close-x {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
    width: rem(30px);
    height: auto;
    cursor: pointer;
    z-index: 10000;
    position: fixed;
  }

  .hero {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(180deg, #d1eef8 -37.75%, #ffffff 100%);
    background-image: unset;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 100%;

    .plus1 {
      position: absolute;
      bottom: rem(90px);
      left: rem(590px);
      width: rem(160px);
      height: auto;
      z-index: 0;
    }
    .plus2 {
      position: absolute;
      top: rem(100px);
      right: rem(500px);
      width: rem(160px);
      height: auto;
      z-index: 0;
    }

    &__container {
      gap: rem(100px);
    }

    &__title {
      font-size: rem(40px);
      .text-highlight {
        background: linear-gradient(270deg, #d3287c 0%, #2960ea 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    &__subtitle {
      font-size: rem(20px);
      color: #19191a;
      margin-bottom: rem(40px);
      line-height: 140%;
      font-weight: 400;
      max-width: rem(624px);
    }

    &__pricing-box {
      position: relative;
      width: 100%;
      text-align: center;
      max-width: rem(624px);
      padding: rem(22px) rem(24px);
    }

    .bolder {
      font-size: rem(24px);
      color: #19191a;
      margin-bottom: rem(40px);
      line-height: 140%;
      font-weight: 700;
      max-width: rem(990px);

      font-style: Bold;
      text-transform: capitalize;
    }

    &__form-wrapper {
      flex: 0 0 rem(500px);
      max-width: rem(500px);
      position: relative;
      z-index: 1;

      .lead-form {
        box-shadow: 0px 4px 6.7px 0px #adadad40;
      }
    }
  }
}

@media (max-width: 767px) {
  .accidental-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .close-x {
      top: mrem(20px);
      right: mrem(20px);
      width: mrem(20px);
    }

    .hero {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      align-items: flex-start;
      margin-top: 0;
      height: 100%;
      padding-top: mrem(30px);
      padding-bottom: mrem(40px);

      .plus1 {
        position: absolute;
        top: mrem(20px);
        left: mrem(0px);
        width: mrem(120px);
        height: auto;
        z-index: 0;
      }
      .plus2 {
        display: none;
      }

      &__container {
        gap: mrem(10px);
      }

      &__title {
        font-size: mrem(24px);
      }

      &__subtitle {
        font-size: mrem(14px);
        margin-bottom: mrem(20px);
        line-height: 130%;
        display: none;
      }

      &__pricing-box {
        padding: mrem(14px) mrem(14px);
      }

      .bolder {
        font-size: mrem(14px);
        margin-bottom: mrem(20px);
        line-height: 120%;
        display: block;
      }

      &__form-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .btn-submit {
        font-size: mrem(14px);
      }
    }
  }
}
