.problem-section {
   padding-top: rem(100px);
  padding-bottom: rem(100px);
  .container {
    position: relative;
    .zoom-decor {
      position: absolute;
      right: rem(54px);
      height: rem(218px);
      width: auto;
      animation: zoomInOut 4s ease-in-out infinite;
    }

    .vector-icon {
      top: rem(90px);
      left: rem(60px);
      width: rem(140px);
      height: auto;
      position: absolute;
      animation: rotateZoom 4s ease-in-out infinite;
    }
  }
  .section-header {
    margin-bottom: rem(30px);

    h2 {
      font-size: rem(58px);
      margin-bottom: rem(10px);
      max-width: 700px;
      margin-inline: auto;

      .text-highlight {
        background: linear-gradient(90deg, #2960ea 0%, #d3287c 78.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 700 !important;
      }
    }
    p {
      font-weight: 400;
      font-size: rem(20px);
      line-height: 150%;
      text-align: center;
    }
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(200px), 1fr));
    gap: rem(20px);

    .stat-card {
      padding: rem(20px) rem(20px);
      padding-top: rem(30px);
      border-radius: rem(20px);
      color: var(--white);
      text-align: center;
      background-color: #01a1de;
      display: flex;
      flex-direction: column;
      align-items: center;
      //   justify-content: center;
      position: relative;

      h3 {
        font-size: rem(34px);
        margin-bottom: rem(20px);
        font-weight: 700;
        line-height: 130%;
        white-space: nowrap;
      
      }


      p {
        font-size: rem(20px);
        font-weight: 400;
        line-height: 130%;
        color: #ffffff;
        padding-inline: rem(10px);
        margin-top: rem(20px);
      }
      .middle-line{
         border: 1px solid rgb(255 255 255 / 24%);
         width: 100%;
      }

      &.bg-blue {
        img {
          height: rem(75px);
          width: auto;
          position: absolute;
          top: rem(30px);
          left: rem(6px);
        }
      }

      &.bg-cyan {
        img {
          height: rem(75px);
          bottom: rem(5px);
          right: rem(25px);
          width: auto;
          position: absolute;
        }
      }

      &.bg-right {
        img {
          height: rem(75px);
          top: rem(5px);
          right: rem(5px);
          width: auto;
          position: absolute;
        }
      }
    }
  }

  .mt-4 {
    margin-top: rem(50px);
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-overlay.is-active {
  display: flex;
}

.modal-content {
  background: linear-gradient(135deg, #e8eaf6 0%, #f3e5f5 50%, #e1f5fe 100%);
  max-width: rem(650px);
  width: 95%;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.popup-form{
  max-width: rem(700px);

  h3{
    text-align: center;
  }
}

@media (max-width: 767px) {
  .problem-section {
        padding-top: rem(50px);
  padding-bottom: rem(50px);
    .container {
      .zoom-decor {
        display: none;
      }

      .vector-icon {
        display: none;
      }
    }
    .section-header {
      margin-bottom: mrem(20px);

      h2 {
        font-size: mrem(24px);
        margin-bottom: mrem(16px);
        max-width: mrem(300px);
      }
      p {
        font-size: mrem(14px);
      }
    }

    .stats-grid {
      display: flex;
      flex-wrap: wrap;
      gap: mrem(8px);
      justify-content: center;

      .stat-card {
        width: calc(50% - mrem(4px));
        padding: mrem(14px) mrem(5px);
        border-radius: mrem(10px);

        h3 {
          font-size: mrem(16px);
          margin-bottom: mrem(8px);
        }

        p {
          font-size: mrem(14px);
        }

        &.bg-blue {
          img {
            height: mrem(28px);

            top: mrem(15px);
            left: mrem(6px);
          }
        }

        &.bg-cyan {
          img {
            height: mrem(37px);
            bottom: mrem(5px);
            right: mrem(15px);
          }
        }

        &.bg-right {
          img {
            height: mrem(37px);
            top: mrem(5px);
            right: mrem(5px);
          }
        }
      }
    }

    .mt-4 {
      margin-top: mrem(20px);
    }
  }
}
